<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mohress.training.dao.TblAgencyDao">
    <resultMap id="BaseResultMap" type="com.mohress.training.entity.agency.TblAgency">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="agency_id" property="agencyId" jdbcType="VARCHAR"/>
        <result column="agency_name" property="agencyName" jdbcType="VARCHAR"/>
        <result column="agency_head" property="agencyHead" jdbcType="VARCHAR"/>
        <result column="agency_mobile" property="agencyMobile" jdbcType="VARCHAR"/>
        <result column="agency_mail" property="agencyMail" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="superior_department" property="superiorDepartment" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, agency_id, agency_name, agency_head, agency_mobile, agency_mail, address, superior_department, 
    status, create_time, update_time
  </sql>
    <select id="queryAgencyList" resultMap="BaseResultMap"
            parameterType="com.mohress.training.service.agency.AgencyQuery">
        select
        <include refid="Base_Column_List"/>
        from tbl_agency
        where status = 0
        order by create_time
        limit #{pageIndex},#{pageSize}
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_agency
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByAgencyId" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM tbl_agency
        WHERE agency_id = #{agencyId}
    </select>
    <insert id="insertSelective" parameterType="com.mohress.training.entity.agency.TblAgency">
        insert into tbl_agency
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="agencyId != null">
                agency_id,
            </if>
            <if test="agencyName != null">
                agency_name,
            </if>
            <if test="agencyHead != null">
                agency_head,
            </if>
            <if test="agencyMobile != null">
                agency_mobile,
            </if>
            <if test="agencyMail != null">
                agency_mail,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="superiorDepartment != null">
                superior_department,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="agencyId != null">
                #{agencyId,jdbcType=VARCHAR},
            </if>
            <if test="agencyName != null">
                #{agencyName,jdbcType=VARCHAR},
            </if>
            <if test="agencyHead != null">
                #{agencyHead,jdbcType=VARCHAR},
            </if>
            <if test="agencyMobile != null">
                #{agencyMobile,jdbcType=VARCHAR},
            </if>
            <if test="agencyMail != null">
                #{agencyMail,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="superiorDepartment != null">
                #{superiorDepartment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mohress.training.entity.agency.TblAgency">
        update tbl_agency
        <set>
            <if test="agencyId != null">
                agency_id = #{agencyId,jdbcType=VARCHAR},
            </if>
            <if test="agencyName != null">
                agency_name = #{agencyName,jdbcType=VARCHAR},
            </if>
            <if test="agencyHead != null">
                agency_head = #{agencyHead,jdbcType=VARCHAR},
            </if>
            <if test="agencyMobile != null">
                agency_mobile = #{agencyMobile,jdbcType=VARCHAR},
            </if>
            <if test="agencyMail != null">
                agency_mail = #{agencyMail,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="superiorDepartment != null">
                superior_department = #{superiorDepartment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryAgenctIdSelective" parameterType="com.mohress.training.entity.agency.TblAgency">
        update tbl_agency
        <set>
            <if test="agencyId != null">
                agency_id = #{agencyId,jdbcType=VARCHAR},
            </if>
            <if test="agencyName != null">
                agency_name = #{agencyName,jdbcType=VARCHAR},
            </if>
            <if test="agencyHead != null">
                agency_head = #{agencyHead,jdbcType=VARCHAR},
            </if>
            <if test="agencyMobile != null">
                agency_mobile = #{agencyMobile,jdbcType=VARCHAR},
            </if>
            <if test="agencyMail != null">
                agency_mail = #{agencyMail,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="superiorDepartment != null">
                superior_department = #{superiorDepartment,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where agency_id = #{agencyId}
    </update>

    <update id="updateStatus" parameterType="com.mohress.training.entity.agency.TblAgency">
        update tbl_agency
        set status = #{toStatus,jdbcType=TINYINT}
        where agency_id = #{agencyId}
    </update>
</mapper>