<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mohress.training.dao.TblAttendanceDao">
    <resultMap id="BaseResultMap" type="com.mohress.training.entity.attendance.TblAttendance">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="attendance_id" property="attendanceId" jdbcType="VARCHAR"/>
        <result column="course_id" property="courseId" jdbcType="VARCHAR"/>
        <result column="class_id" property="classId" jdbcType="VARCHAR"/>
        <result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="attendance_time" property="attendanceTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, attendance_id, course_id, class_id, device_id, user_id, username, remark, attendance_time, 
    status, create_time
  </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tbl_attendance
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_attendance
        where user_id = #{userId}
        and create_time between #{todayStart} and #{todayEnd}
    </select>

    <select id="selectByKeyword" resultMap="BaseResultMap"
            parameterType="com.mohress.training.service.mclass.ClassQuery">
        select
        <include refid="Base_Column_List"/>
        from tbl_attendance
        where 1=1
        <if test="classId != null">
            and class_id = #{classId}
        </if>
        <if test="courseId != null">
            and course_id = #{courseId}
        </if>
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="selectByStudentId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tbl_attendance
        where
        user_id = #{studentId}
        and status = #{status}
        and create_time between #{startTime} and #{endTime}
    </select>

    <insert id="insertSelective" parameterType="com.mohress.training.entity.attendance.TblAttendance">
        insert into tbl_attendance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="attendanceId != null">
                attendance_id,
            </if>
            <if test="courseId != null">
                course_id,
            </if>
            <if test="classId != null">
                class_id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="attendanceTime != null">
                attendance_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="attendanceId != null">
                #{attendanceId,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null">
                #{courseId,jdbcType=VARCHAR},
            </if>
            <if test="classId != null">
                #{classId,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="attendanceTime != null">
                #{attendanceTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mohress.training.entity.attendance.TblAttendance">
        update tbl_attendance
        <set>
            <if test="attendanceId != null">
                attendance_id = #{attendanceId,jdbcType=VARCHAR},
            </if>
            <if test="courseId != null">
                course_id = #{courseId,jdbcType=VARCHAR},
            </if>
            <if test="classId != null">
                class_id = #{classId,jdbcType=VARCHAR},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="attendanceTime != null">
                attendance_time = #{attendanceTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>